@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");


#raw-title{
    margin: 2em 0 1em 0;
    color: white;
}

#raw-submit{
    margin: 2em 0;
    width: 10em;
    height: 3em;
    background: #ea732b;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

#raw-submit:hover{
    background: #ffad39;
}

#gestion-erreurs{
    color: red;
    font-size: 15px;
}

#descriptionTitre
{
    color: white;
    margin-left: 2em;
}

#nomJeu {
    color: white;
    margin-left: 1em;

}

#titre {
    margin-top: 2em;
}

#description {
    color:white;
    margin-left: 1em ;
    padding: 2%;
    margin-bottom: 5em ;
}

#image {
    margin-top: 2em;
}

/* CARTE */

#card_vendeur {
    height: 20em;
    max-width: auto;
    min-width: auto;
    background: rgb(64, 64, 64);
    margin-top: 2em;
    border-radius: 1.6rem;
}

/* FOOTER */

footer a{
    text-decoration: underline;
}