@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");


/* PROFIL */

#profil{
    color: white;
    margin-bottom: 4em;
}

.profil-icons{
    text-align: right;
    margin-bottom: 2em;
}

.profil-icons i{
    cursor: pointer;
    color: #ea732b;
    margin: 0 .4rem;
    font-size: 1.5em;
}

.profil-icons i:hover{
    color: #ffad39;
}

#profil-img{
    margin-right: 2em;
}

#profil-infos{
    margin-left: 2em;
}

#profil h1, #case-master-container h1{
    text-align: center;
    margin-bottom: 0;
}

#profil-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profil-img img{
    border-radius: 50%;
}

#profil-infos ul{
    list-style-type: none;
    padding: 0;
}

#profil-infos li{
    margin: .5em 0;
    color: white;
}

#profil-infos span{
    color: #ea732b;
    font-weight: bold;
}


/* CASES */

#case-master-container{
    color: white;
}

#case-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 8em);
    grid-template-rows: repeat(2, 16em);
    grid-row-gap: 1.7em;
    grid-row-gap: 2em;
    margin-bottom: 4em;
    justify-content: space-between;
}

.case{
    background-color: grey;
    border-radius: 1.1rem;
    transition: transform .2s;
}

.case:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.case a{
    border-radius: 1.1rem;
    color: white;
    text-decoration: none;
}

.case a:hover{
    text-decoration: underline;
}

.case-img{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 50%;
}

.case-img img{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 100%;
}

.case-infos{
    height: 38%;
    background-color: #333;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.case-price{
    height: 12%;
    background-color: #ea732b;;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
}

.case-price i{
    cursor: pointer;
    color: white;
    font-size: 1em;
    transition: transform .2s;
}

.case-price i:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#case-price-delete{
    border: none;
    background-color: inherit;
    font-size: 1em;
}

.whitespace{
    margin-bottom: 2.5em;
}


/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    /* CASES */
    #case-container{
        grid-template-columns: repeat(2, 8em);
        grid-template-rows: repeat(6, 16em);
        justify-content: space-around;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:601px) and (max-width: 768px) {
    /* CASES */
    #case-container{
        grid-template-columns: repeat(3, 8em);
        grid-template-rows: repeat(4, 16em);
        justify-content: space-around;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:769px) and (max-width: 992px) {
    /* CASES */
    #case-container{
        grid-template-columns: repeat(4, 8em);
        grid-template-rows: repeat(3, 16em);
        justify-content: space-around;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:993px) and (max-width: 1200px) {
    /* CASES */
    #case-container{
        grid-template-columns: repeat(4, 8em);
        grid-template-rows: repeat(3, 16em);
        justify-content: space-around;
    }
}