@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");


/* PROFIL */

#profil{
    color: white;
    margin-bottom: 4em;
}

.profil-icons{
    text-align: right;
    margin-bottom: 2em;
}

.profil-icons i{
    cursor: pointer;
    color: #ea732b;
    margin: 0 .4rem;
    font-size: 1.5em;
}

.profil-icons i:hover{
    color: #ffad39;
}

#profil-img{
    margin-right: 2em;
}

#profil-infos{
    margin-left: 2em;
}

#profil h1, #case-master-container h1{
    text-align: center;
    margin-bottom: 0;
}

#profil-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profil-img img{
    border-radius: 50%;
}

#profil-infos ul{
    list-style-type: none;
    padding: 0;
}

#profil-infos li{
    margin: .5em 0;
    color: white;
}

#profil-infos span{
    color: #ea732b;
    font-weight: bold;
}


/* CASES */

#case-master-container{
    color: white;
}

#case-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 8em);
    grid-template-rows: repeat(2, 16em);
    grid-row-gap: 1.7em;
    grid-row-gap: 2em;
    margin-bottom: 4em;
    justify-content: space-between;
}

.case{
    background-color: grey;
    border-radius: 1.1rem;
}

.case-img{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 50%;
}

.case-infos{
    height: 38%;
    background-color: #333;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.case-price{
    height: 12%;
    background-color: #ea732b;;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: white;
    padding-right: .5em;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.1rem;
}