@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");
@import url("../../style.css");

#resultat{
    color : white;
    padding-left: .5em;
    margin: 2em 0;
}

#case-container{
    margin-bottom: 4em;
}