@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");

/* LECTURE MESSAGE */

#lecture-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7em;
}

#lecture-navbar{
    margin: 2em 0 5em 0;
    font-size: 1em;
    font-weight: 300;
}

#lecture-navbar a{
    color: white;
    margin: 0 .5em;
    font-size: 1em;
    font-weight: 300;
}

#lecture-msg{
    color: white;
}

#destinataire{
    text-align: center;
    margin: 1.5em 0;
}

.lecture-content-text{
    margin: 1em 0;
}