@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");

/* CARDS */

#cards-title{
    color: white;
    margin: 2em 0;
}

#cards-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}


/* GAME CARD */

#game-card{
    width: 30em;
    height: 40em;
    background-color: #333;
}

#gc-img{
    width: 100%;
    height: 60%;
}

#gc-img img{
    width: 100%;
    height: 100%;
}

#gc-description-title{
    height: 8%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gc-description-title h3{
    margin: 0;
}

#gc-description{
    height: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gc-description p{
    margin: 0;
}

#gc-bottom{
    height: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #ea732b;
}


/* PROFIL CARD */

#profil-card{
    width: 15em;
    height: 27em;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#pc-img{
    width: 100%;
    height: 50%;
}

#pc-img img{
    width: 100%;
    height: 100%;
}

#pc-title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pc-description{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pc-link{
    width: 100%;
    height: 10%;
    background-color: #ea732b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#pc-link a{
    color: white;
}

#pc-link a i{
    transition: transform .2s;
}

#pc-link a i:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#pc-link a:hover{
    color: initial;
}


/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #cards-container{
        flex-direction: column;
        align-items: center;
    }

    #game-card{
        width: auto;
        height: 30em;
        margin-bottom: 2em;
    }

    #cards-title{
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:601px) and (max-width: 768px) {
    #cards-container{
        flex-direction: column;
        align-items: center;
    }

    #game-card{
        width: auto;
        height: 30em;
        margin-bottom: 2em;
    }

    #cards-title{
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:769px) and (max-width: 992px) {
    #cards-container{
        flex-direction: column;
        align-items: center;
    }

    #game-card{
        width: auto;
        height: 30em;
        margin-bottom: 2em;
    }

    #cards-title{
        text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:993px) and (max-width: 1200px) {

}

