/* FOOTER */

footer{
    font-size: 15px;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ea732b;
}

#footer-text p{
    margin: 20px 0;
    color: #f7f7f7;
}

#footer-text span{
    margin: 0 1em;
}


/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:769px) and (max-width: 992px) {

}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:993px) and (max-width: 1200px) {

}