/* HEADER */

header{
    height: 5.5rem;
    background: #333;
    width: 100%;
    position: fixed;
    z-index: 9999999;
}

header > .contener {
    height: 100%;
}

#header-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

#header-logo h1{
    margin: 0;
    color: white;
}

#header-logo a{
    text-decoration: none;
}

#header-logo span{
    color: rgb(165, 0, 0);
    font-weight: 300;
}

#header-connection{
    display: flex;
}

.header-co-contour{
    background: #2e2e2e;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 2rem;
    display: flex;
    cursor: pointer;
    transition: .25s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    font-size: 20px;
    border: none;
    color: white;
}

.header-co-contour:hover{
    color: rgb(165, 0, 0);
    transition: .25s;
    -webkit-transition: .25s;
}

.header-co-contour p{
    margin: 0 0 0 1rem;
    font-size: 1.1rem;
}

.header-link{
    text-decoration: none;
    color: inherit;
}


/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {  

}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:769px) and (max-width: 992px) {

}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:993px) and (max-width: 1200px) {

}