@import url("../../partials/css/base.css");
@import url("../../partials/css/header.css");
@import url("../../partials/css/footer.css");

/* BOITE DE RECEPTION */

#reception-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 8em 0 8em 0;
}

#reception-container a{
    color: white;
}

#reception-new-msg a{
    font-size: 1em;
    font-weight: 300;
}